html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    background-color: #eee;
    font-family: "Lato", sans-serif;
}

.body__header {
    font-size: 30px;
    margin: 0;
}

.section {
    margin-top: 10px;
    background: white;
    border: #ddd;
    border-radius: 5px;
}

.section__header {
    font-size: 25px;
    margin: 0;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
}

.container {
    padding: 15px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    flex: 1;
    margin-right: 15px;
    padding: 5px;
}

@media(max-width:767px) {
    .form__input {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}

.form__button {
    color: white;
    background-color: teal;
    border: none;
}

.form__button:hover {
    cursor: pointer;
    background-color: rgb(3, 151, 151);
}

.tasks {
    list-style: none;
    margin:0;
    padding:0;
    font-size: 20px;
}

.tasks__item {
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
    word-break: break-word;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
}

.tasks__button--toggleDone {
    background: rgb(8, 198, 8);
    border-radius: 3px;
}

.tasks__button--toggleDone:hover {
    background: rgb(3, 114, 3);
    cursor: pointer;
}

.tasks__button--remove {
    background: rgb(210, 19, 19);
    border-radius: 3px;
}

.tasks__button--remove:hover {
     background: rgb(137, 8, 8);
     cursor: pointer;
}
